<h1>Listing campaigns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Client</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Cost</th>
      <th>Start date</th>
      <th>End date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.name %></td>
        <td><%= campaign.client_id %></td>
        <td><%= campaign.created_at %></td>
        <td><%= campaign.updated_at %></td>
        <td><%= campaign.cost %></td>
        <td><%= campaign.start_date %></td>
        <td><%= campaign.end_date %></td>
        <td><%= link_to 'Show', campaign %></td>
        <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
        <td><%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign', new_campaign_path %>
